.outer-positioning {
  position: relative;
  padding-right: 13px !important;
}

.modal-lg {
    max-width: 44%;
}

.outer-positioning .form-control-custom {
  height: 2.5em;
  font-size: 18px;
  width: 31.5em !important;
  color: #6e6e6e;
  border: 1px solid #b3b3b3;
  border-radius: 6px;
  background-color: #fff;
  padding-left: 2.5em;
  font-style: oblique;
}

.post-only .modal textarea {
  padding-left: 3em;
  margin-top: -.5em !important;
  width: 100%;
  margin-bottom: -.6em !important;
  border: none;
  resize: none;
  padding-top: 5px !important;
  font-size: large;
  overflow: hidden;
  box-sizing: padding-box;
}

/* .post-only .modal .file-field input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 4.5%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
} */

.outer-positioning input:hover {
  cursor: pointer;
}

.outer-positioning .post-profile {
  position: relative;
  bottom: -.76em;
  right: -3em;
  z-index: 1000;
  border: 5px solid #fff;
  border-radius: 6px;
}

.post-only .modal .post-post {
  position: absolute;
  top: 8px;
  z-index: 1000;
}

.outer-positioning .post-camera {
  position: relative;
  left: -3.5em;
  top: .8em;
  z-index: 1000;
}

.outer-positioning .post-camera a {
  color: #007bff80;
  font-size: 1.5em;
}

.outer-positioning .post-profile a img {
  background-size: 40px 40px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-only .post-post a img {
  background-size: 40px 40px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*post view design*/
.display_posts_only .col-xl-7{
  top: 1em;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 56.333333%;
  /* margin-right: 8em !important; */
}

.image-user a img {
  background-size: 40px 40px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-user .name-position{
  position: relative;
  top: -.5em;
  color: #000;
}

.image-user .time-position{
  position: relative;
  top: -2.3em;
  left: 4.1em;
  font-size: 11px;
  text-decoration: none;
}

.image-user .a-move{
  position: relative;
  top: -2.5em;
  font-size: 20px;
  color: #0000008a;
  text-decoration: none;
}

.image-user .dropdown-menu{
  width: 25%;
}

.image-user .dropdown-menu a{
  font-size: 14px;
}

.display_posts_only .card-text{
  margin-top: -1em;
  margin-bottom: .2rem;
  color: #575757;
}

.feed-body .post-image-style{
  margin-top: -em;
}

.feed-body .post-image-style img{
  width: auto;
  height: auto;
  border-radius: 3px;
  max-width: 100%;
  max-height: 400px;
  cursor: pointer;
}

.comment_like .comment_style li .hide{
	display: none;
}

.comment_like .comment_style li .fa-heart, .fa-heart-o{
  color: red;
  font-size: 17px;
  cursor: pointer;
}

.comment_like .comment_style li .fa-comment-alt{
  color: #007bff;
  font-size: 17px;
  cursor: pointer;
}

.comment_like{
  margin-top: .5em;
  margin-bottom: -1.2em;
  border: 1px solid  #dedede;
  border-radius: 5px;
  border-bottom: none;
}

.comment_like .comment_style{
  position: relative;
  left: -2em;
  top: .5em;
}

.comment_like .comment_style{
  display: flex;
}

.comment_like .comment_style li{
  list-style: none;
  margin-right: 1em;
}

.comment_like .comments_only .comment-btn{
  cursor: pointer;
}

.comment_like .comment_post{
  position: relative;
  left: .5em;
  top: .3em;
}

.comment_like .comment_post textarea{
  height: 2.4em;
  width: 438px;
  border: 1px solid #dedede;
  border-radius: 6px;
  color: #575757;
  padding-left: 5px;
  padding-top: 5px;
}

.comment_like .comment_post .user_comment_pic{
  position: relative;
  top: -.9em;
}

.comment_like .comment_post .user_comment_pic img{
  background-size: 40px 40px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment_like .comment_post .send_post{
  position: relative;
  top: -.88em;
}

.comment_like .disply_comments .comment_view_holder .commented_user_pic{
  position: relative;
  left: .7em;
}

.comment_like .disply_comments .comment_view_holder .commented_username{
  position: relative;
  left: .7em;
  top: -.3em;
  color: #007bff;
  font-size: 14px;
}

.comment_like .disply_comments .comment_view_holder .commented_user_pic img{
  background-size: 35px 35px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment_like .disply_comments .comment_holder p{
  position: relative;
  color: #575757;
  top: -.5em;
  left: 3.2em;
  border: 1px solid #dedede9e;
  width: 440px;
  height: auto;
  padding: 3px;
  border-radius: 5px;
}

.comment_like .disply_comments .a-move-comment{
  position: relative;
  top: -.7em;
  font-size: 17px;
  color: #0000008a;
  text-decoration: none;
  left: -1.3em;
  cursor: pointer;
}

.comment_like .disply_comments .dropdown-menu{
  width: 25%;
}

.comment_like .disply_comments .dropdown-menu a{
  font-size: 14px;
}
