/*
navbar styling
color variables

//edit button
<div class="col-md-6 pull-right" style="margin-top: -2em;">
    <a class="btn btn-primary pull-right" href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
</div>
navigation: c1 aqua-gradient
navigation: c2 purple-gradient
navigation: c3 peach-gradient
navigation: c4 blue-gradient
*/

:root {
    --background: rgba( 0, 0, 0, 0.5);
    --nav-around: rgb(245, 0, 100);
    --card-info: #f7f7f7;
    --gray-dark-custom: #9c9c9c30;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body{
  padding-top: 100px;
}

/* .container .row .jumbo-style{
  background: url("<?php echo URLROOT; ?>/public/assets/default-fav.jpg");
  background-position: center;
  background-size: cover;
} */


.dropdown-menu{
  right: 0;
  left: auto;
}
nav {
   padding-right: 17.2px !important;
}

nav strong{
  font-weight: bold;
}

nav .custom-links li{
  margin-left: 1.8em;
}

nav .custom-links li a{
  font-size: 1.5em;
}

nav .custom-links form{
  margin-right: -10em;
}

nav .custom-links form input[type="search"]{
  width: 18em;
}

nav .nav-item a img{
  background-size: 35px 35px;
  -moz-border-radius: 10%;
  border-radius: 10%;
  height: 35px;
  width: 35px;
}

/***profile***/
.jumbotron .container a{
  text-decoration: none;
}

.jumbotron .container a .fa-camera{
  font-size: 3em;
  color: rgba(19, 5, 182, 0.3);
}

.jumbotron .container .fa-camera:hover{
  color: rgba(19, 5, 182, 0.8);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.profile-image a{
  text-decoration: none;
  position: absolute;
  top: 5em;
  left: 3.4em;
}

.profile-image a .fa-camera{
  font-size: 3em;
  color: rgba(19, 5, 182, 0.0);
}

.profile-image a .fa-camera:hover{
  color: rgba(19, 5, 182, 0.8);
  transition: .3s ease-in-out;
  cursor: pointer;
}

/* .profile-cover-move{
  width: 1090px;
  height: 200px;
  overflow: hidden;
  background-color: black;
  margin-bottom: 2em;
}

.profile-cover-move > img {
  position: relative;
  width: 100%;
} */

.profile-image{
  position: relative;
  top: -5em;
  left: 1.7em;
}

.profile-image .inner-image{
  width: 160px;
  height: 150px;
}

.profile-image .inner-image img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.perso-data{
  position: relative;
  top: -.5em;
  left: 3em;
}

.perso-data{
  margin-left: -.5em;
  margin-top: -.5em;
}

.user-bio{
  position: relative;
  top: -4em;
}



.user-bio .card{
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border-radius: 4px;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.1);
    width: 50em;
}

.profile .profile-body {
    padding: 20px;
    background-color: transparent;
    width: 50em;
}

/*not used may be used later*/
.profile .profile-bio {
    background: #fff;
    position: relative;
    padding: 15px 10px 5px 15px;
}

.profile .profile-bio a {
    left: 50%;
    bottom: 20px;
    margin: -62px;
    text-align: center;
    position: absolute;
}

.profile .profile-bio h2 {
    margin-top: 0;
    font-weight: 200;
}

.activity-starts .stats strong{
	display:block;
	color:#5a5a5a;
	font-size:11px;
	font-weight:700;
}

.activity-starts .stats div{
	border-right:1px solid #ebeff2;
	width:90px;
	float:left;
	text-align:center;
	align-content:center;
}
.activity-starts .stats div:nth-of-type(5){
  border:none;
}

.activity-starts .stats{
    position:relative;
    top:-.7em;
    left:8em;
}

.contact-info-card{
  position:relative;
  top:-5.4em;
}

.contact-info-card .contact-card-customize{
  width: 50em;
  height: auto;
  background-color: transparent;
  -moz-border-radius: 2%;
  -webkit-border-radius: 2%;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.1);
  padding: 20px;
}

.edit-contact{
  position:relative;
  top:-2em;
}

.contact-info-card .contact-card-customize span strong{
  font-weight: bold;
}

.left-controller-option{
  position: relative;
  top: -3.5em;
}

.left-controller-option .card-size-resize{
  width: 17em;
}

.left-controller-option .card-size-resize .card{
  border-radius: 1px;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.1);
}

.content-wraper-out-favourite,
.content-wraper-out-privacy,
.content-wraper-out-security,
.content-wraper-out-manage,
.content-wraper-out-friends{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5.4em;

}


.content-wraper-inside{
  width: 50em;
  height: auto;
  background-color: transparent;
  -moz-border-radius: 2%;
  -webkit-border-radius: 2%;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.1);
  padding: 20px;
}

/*favourite tyling*/
.content-wraper-out-favourite
.content-wraper-inside
.card{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.02),0 2px 10px 0 rgba(0,0,0,.01);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.02),0 2px 10px 0 rgba(0,0,0,.01);
  border: 1px solid var(--gray-dark-custom);
  margin-top: 1em;
  width: 45em;
}


.content-wraper-out-favourite
.content-wraper-inside
.card-cascade
.back-image{
  background-image: url('../public/assets/default-fav.jpg');
  background-size: cover;
  background-position: center;
  height: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.back-image,
.back-image-movie,
.back-image-quote,
.back-image-animal,
.back-image-book,
.Darkened-back{
  background-color: var(--background);
  height: inherit;
  -moz-border-radius: .25rem;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
}

.content-wraper-out-favourite
.content-wraper-inside
.card-cascade
.back-image-movie{
  background-image: url('../public/assets/moviel.jpg');
  background-size: cover;
  background-position: center;
  height: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.content-wraper-out-favourite
.content-wraper-inside
.card-cascade
.back-image-quote{
  background-image: url('../public/assets/quotes.jpg');
  background-size: cover;
  background-position: center;
  height: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.content-wraper-out-favourite
.content-wraper-inside
.card-cascade
.back-image-animal{
  background-image: url('../public/assets/animals.jpg');
  background-size: cover;
  background-position: center;
  height: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.content-wraper-out-favourite
.content-wraper-inside
.card-cascade
.back-image-book{
  background-image: url('../public/assets/booksl.jpg');
  background-size: cover;
  background-position: center;
  height: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

/*end profile*/

/*start posts feed*/
