Options -Indexes
#RewriteEngine On

# Canonicalize /user/foo to /user/foo/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^profile/([^/]+)$ /profile/$1/ [R=301,L]

# Map /user/foo/ to foo's profile
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^profile/([^/]+)/$ profile/index.php?p=$1 [QSA]
